<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/stylesMenu.css">
    <link rel="stylesheet" href="../css/estilos.css">
    <title>MENU SiGeCA</title>
</head>

<header>
   
    <div class="contenido-central">
        <h1 id="titulo">CEMECA</h1>
        <div class="division"></div>
        <h2 class="subtitulo">Centro Estatal de Medidas Cautelares</h2>
    </div>

</header>
<body>
    <div class="menu">
        <li>
            <a href="" class="link">Apartado 1</a>
        </li>
        <li class="lista">
            <a href="" class="link">Apartado 2  </a>
        </li>
        <li class="lista">
            <a href="" class="link"> Apartado 2</a>
        </li>
        <li class="lista">
            <a href="" class="link">Apartado 2</a>
        </li>
        <li class="lista">
            <a href="" class="link">Apartado 2</a>
        </li>
        <li class="lista">
            <a href="" class="link">Apartado 2 </a>
        </li>
    </div>
    
    <script src="menu.js"></script>
</body>
</html>